{% if cookiecutter.use_direnv ==  "y" -%}
{% if cookiecutter.virtual_env ==  "venv" -%}
export VIRTUAL_ENV=.{{ cookiecutter.project_slug }}
layout python-venv python{{ cookiecutter.pyver }}
{% elif cookiecutter.virtual_env ==  "anaconda" -%}
layout anaconda {{ cookiecutter.project_slug }}
{% endif %}
{% endif %}
