{% if cookiecutter.direnv_layout ==  "virtualenv" -%}
VIRTUAL_ENV=.direnv/python{{ cookiecutter.pyver }}
layout python-venv python{{ cookiecutter.pyver }}
{% elif cookiecutter.direnv_layout != "none" %}
layout {{ cookiecutter.direnv_layout }} {{ cookiecutter.project_slug }}
{% endif %}
